apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: common-lightblue-applications-sxsc
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: common-lightblue-applications-sxsc
    app.kubernetes.io/part-of: dhaynes-lightblue-applications
  name: common-lightblue-applications-sxsc
  namespace: dhaynes-tenant
spec:
  ports:
  - port: 8081
    targetPort: 8081
  selector:
    app.kubernetes.io/instance: common-lightblue-applications-sxsc
status:
  loadBalancer: {}
