apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: data-mgmt-saml-auth-lightblue-applications-fou3
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: data-mgmt-saml-auth-lightblue-applications-fou3
    app.kubernetes.io/part-of: dhaynes-lightblue-applications
  name: data-mgmt-saml-auth-lightblue-applications-fou3
  namespace: dhaynes-tenant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: data-mgmt-saml-auth-lightblue-applications-fou3
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: data-mgmt-saml-auth-lightblue-applications-fou3
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload:c4eCu-data-mgmt-saml-auth-lightblue-applications-fou3
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 250Mi
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
