apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: data-mgmt-saml-auth-lightblue-applications-fou3
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: data-mgmt-saml-auth-lightblue-applications-fou3
    app.kubernetes.io/part-of: dhaynes-lightblue-applications
  name: data-mgmt-saml-auth-lightblue-applications-fou3
  namespace: dhaynes-tenant
spec:
  ports:
  - port: 8081
    targetPort: 8081
  selector:
    app.kubernetes.io/instance: data-mgmt-saml-auth-lightblue-applications-fou3
status:
  loadBalancer: {}
